<header>
  <nav class="logo">
    <button (click)="navigateToJobSeeker()">JOB SEEKER</button>
    <button (click)="navigateToEmployer()">EMPLOYER</button>
    <button (click)="navigateToAdmin()">ADMINISTRATOR</button>
  </nav>
</header>

<main>
  <section class="hero">
    <div class="hero-overlay">
      <h1>
        <span class="blue">KAZI AI-</span><span class="white">Powered</span>
      </h1>
      <h2>Intelligence</h2>
      <p>
        Transform your business operations with cutting-edge AI solutions that
        adapt and grow with your needs
      </p>
      <div class="cta-buttons">
        <button class="login" (click)="navigateToAuthpass()">LOGIN</button>
        <button class="signup" (click)="navigateToAuthpass2()">SIGN UP</button>
      </div>
    </div>
  </section>

  <section class="logo-section">
    <div class="image-container">
      <img src="" alt="Logo" />
    </div>
  </section>

  <section class="features">
    <h3>Why Choose KAZI-AI?</h3>
    <div class="feature-cards">
      <div class="card">
        <h4> Trust</h4>
        <p>
          We ensures that users can interact with the application safely, knowing their
           data is protected, and that the app behaves consistently and ethically.
        </p>
      </div>
      <div class="card">
        <h4> Secure & Private</h4>
        <p>
          Enterprise-grade security with end-to-end encryption and compliance
          standards
        </p>
      </div>
      <div class="card">
        <h4> Award Winner</h4>
        <p>Dgto Awards<br />Keiko AI Awards<br /> KenyaT Awards 2024</p>
      </div>
    </div>
  </section>
</main>
