<div class="home-container">
  <h1>Welcome to JoYMillers</h1>
  <p>
    Mshirika anayeaminika katika huduma za usagaji wa ubora wa hali ya juu. <br>
    Tunajitahidi katika usagaji wa kawaida, usagaji wa jumla, na usagaji maalum. <br>
    Vifaa vyetu vya kisasa na timu yetu yenye uzoefu vinahakikisha tunakidhi <br>
    viwango vya juu zaidi katika sekta hii. Katika Millers, tunaamini katika <br>
    kujenga mahusiano ya kudumu na wateja wetu. Tunafanya kazi kwa karibu nawe <br>
    ili kuelewa mahitaji yako na kutoa suluhisho maalum zinazokidhi mahitaji <br>
    yako maalum. Dhamira yetu ni kutoa huduma bora zaidi za usagaji katika sekta <br>
    hii huku tukidumisha ahadi thabiti ya uendelevu na uwajibikaji wa mazingira. <br>
    Tunatumia mbinu na vifaa rafiki kwa mazingira ili kupunguza athari zetu kwa <br>
    mazingira.
  </p>
  <button><a routerLink="/about" class="btn">Learn More</a></button>
</div>
