.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 100px;
}

.navbar-brand {
    font-size: 2.8rem;
    font-weight: bold;
    color: #007bff;
    font-family: monospace;
}

.navbar-brand .ai {
    color: #ff4081;
}

.navbar-links {
    display: flex;
    gap: 1.5rem;
}

.nav-link {
    color: #160505;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    transition: color 0.3s ease;
    border-radius: 5px;
    height: 30px;
    width: 100px;


}

.nav-link:hover {
    color: #fff;
}

.login-btn {
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
}

.login-btn:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.login-btn:active {
    background-color: #004494;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(0);
}

img{
    height: 100px;
    margin-left: 55px;
}