<!-- <form>
    <label for="name">Enter Name:</label>
    <input id="name" type="text" [formControl]="nameControl" />
    <div *ngIf="nameControl.pending">Checking availability...</div>
    <div *ngIf="nameControl.errors?.nameTaken">
      Name already exists. Please choose another one.
    </div>
    <div *ngIf="nameControl.errors?.['required']">
      Name is required.
    </div>
  </form> -->

  <form>
    <label for="name">Enter Name:</label>
    <input id="name" type="text" [formControl]="nameControl" />
    <div *ngIf="nameControl.pending">Checking availability...</div>
    <div *ngIf="nameControl.errors?.['nameTaken']">
      Name already exists. Please choose another one.
    </div>
    <div *ngIf="nameControl.errors?.['required']">
      Name is required.
    </div>
  </form>
  