h1{
    font-family: 'Courier New', Courier, monospace;
    margin-left: 500px;
    font-weight: bolder;
    font-size: 40px;
    color: darkorange;
}
nav{
    background-color: teal;
    height: 80px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
div{
    margin-top: 10px;

}
#data-container{
display: flex;
justify-content: center;
background-color: teal;
padding: 20px;
border-radius: 10px;
}
nav:hover{
    background-color: thistle;
}
button{
    margin-left: 100px;
    height: 30px;
    border-radius: 10px;
}
button:hover{
    height: 50px;
    background-color: yellow;
    border-style: none;
}