<div class="container">
  <div class="container">
    <h1 class="logo">KAZI-<span class="ai">AI</span></h1>
    
    <div>
      <div class="role-section">
        <label>I am a</label>
        <div class="roles">
          <button class="role selected" (click)="navigateToJobSeeker()">
            <span>👤</span> Job Seeker
          </button>
          <button class="role" (click)="navigateToEmployer()">
            <span>🏢</span> Employer
          </button>
          <button class="role" (click)="navigateToAdmin()">
            <span>🛡️</span> Admin
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
